body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    font-style: italic;
}



.history h1 {
  font-size: 100px;
  color: #525252;
  text-align: center;
}
=======
>>>>>>> 6f238d130d5448e0d2b4cd4f9ddc7614a54081a5
>>>>>>> f1d4ea404d38479033ee1e18ea22345564cfab26
